:root {
    --light: #f5f3f4;
    --dark: #0b5351;
    --accent: #fee231;
    --shade: #4aa77c;
    --lightshade: #c2cd4b;
}
::selection {
    background-color: var(--lightshade);
  }
* {
    color: var(--light);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
  body{
    background-color: var(--dark);
    overflow-x: hidden;
  }

/* ************************************************************************************************************************************ */
.nav-button{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: fixed;
    padding: 0 10%;
    z-index: 20;
    background: rgba(255, 255, 255, 0.001);
    backdrop-filter: blur(28px);
}
.nav-button-container {
    display: flex;
}
button{
    cursor: pointer;
}
.button{
    border: none;
    height: 100%;
    padding: 20px 25px;
    text-decoration: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0.001);
    transition: background-color 0.3s, border-bottom 0.2s ;
}
.button:hover{
    background-color: var(--shade);
    border-bottom: 3px solid var(--accent);
    border-radius: 8%;
}
.s-logo{
    width:45px;
}

/* *************************************************************************************************************** */
.left-sidebar{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom:0px;
}
.verticle-line{
    height:120px;
    width: 2px;
    background-color: var(--shade);
}
.left-sidebar a{
    padding: 10px 50px;
    transform: scale(1.5);
}
.left-sidebar a:hover{
    transform: scale(2);
    transition: all 0.25s ease-in-out;
}
.right-sidebar{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom:0px;
    right: 0px;
}
.right-sidebar a{
    writing-mode: vertical-rl; 
    padding: 15px 30px;
    color: var(--shade);
    text-decoration: none;
}
.right-sidebar a:hover{
    transform: scale(1.1) ;
    transition: all 0.25s ease-in-out;
}
/* *************************************************************************************************************** */
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10% ;
    height: 100vh;
    width: 100vw;
}
.home-window .intro {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.intro h1{
    font-size: 70px;
    font-family: 'Rubik', sans-serif;
    /* position: relative; */
    /* margin-bottom: 20px; */
    /* bottom:15px; */
}
.intro h1 span{
    color: var(--accent);
    font-family: 'Rubik', sans-serif;
}
.intro p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.5px;
    height:100px;
}
.gif {
    width:auto;
    height:500px;
    z-index: 5;
}
.computer{
    display: none;
}
.circle {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    position: absolute;
    right: -130px;
    z-index: 4;
    background-color: var(--shade);
    box-shadow: 0 0 15px 3px var(--accent);
    
}
.circle-sm {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    right: 300px;
    bottom: 40px;
    background-color: var(--lightshade);
    /* box-shadow: 0 0 25px 20px var(--shade); */
    /* animation-name: call; */
    animation-duration: 4s;
    animation: call 0.75s linear 0s infinite alternate;
}
@keyframes call {

    from {
        
    box-shadow: 0 0 8px 3px var(--shade);
    }
    to {
        box-shadow:0px 0px 18px 2px var(--shade) ;
    }
    
}
.circle-sm#top {
    left: -60px;
    top: 0px;
    width: 150px;
    height: 150px;
}
.circle-sm #extra-small{
    top: 100px;
    right: 350px;
    height:50px;
    width:50px;
}

/* *************************************************************************************************************** */
#projects{
    padding: 5% 10% 0;
}
.topic{
    font-size: 60px;
    font-family: 'Rubik', sans-serif;
    color: var(--accent);
}
.project-window {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    width:100%;
    padding:5% 0 ;
    gap: 20px;
}
.website{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    position: relative;
    height: 100%;
    align-items: center;
    border: 1px solid var(--shade);
    transition: all 0.3s ease-in-out;
}
.website:hover{
    box-shadow: 0px 0px 20px -1px #4aa77c90 ;
    transform: scale(1.03);
}
.website .heading{
    color: var(--light);
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    padding: 25px;
}
.website p{
    padding: 25px;
    text-align: center;
}
.website-img{
    width: 330px;
    height: auto;
}

.link-container {
    display: flex;
    gap: 15px;
}
.output .btn{
    padding: 7px 16px;
    border: none;
    border-radius: 10px;
    background-color: var(--shade);
    font-size: 15px;
    margin: 0px 0 50px;
    transition: all 0.25s ease-in-out;
}

.output .btn:hover {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transform: scale(1.05);
}
.btn a{
    text-decoration: none;
    margin: 0;
    padding-right:10px;
}

/* *************************************************************************************************************** */
#about{
    padding: 5% 10% 0;
}
.about{
    display:flex;
    justify-content: center;
    height: fit-content;
    padding: 3% 0;
}
.aboutme{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top:60px;
    text-align: center;
    z-index:5;
}
.about-content{
    margin-left: 4rem;
}
.bio{
    color: var(--lightshade);
}

h5.bio {
    color: var(--light);
    font-weight: 100;
    margin-top: 5px;
}
.shilpa-img{
    margin: 20px 0;
    width:200px;
    border-radius: 50%;
    border: var(--accent) solid 3px;
}
.resume{
    border-radius: 30px;
    text-decoration: none;
    background-color: var(--lightshade);
    margin:30px 0;
    padding: 15px 35px;
    display:flex;
    justify-content: center;
    align-items: center; 
    transition: all 0.25s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;}
.hi{
    color: #dcdcdc;
    color: var(--light);
}
.resume:hover{
    background-color: var(--accent);
}
.para{
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 28px;
    font-weight: 400;
    white-space: wrap;
    margin-top: 5%;
    width:100%;
}
.para span,#experience span{
    color: var(--accent);
}
/* *************************************************************************************************************** */
#experience{
    padding: 2% 0;
}
#experience h5{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    font-weight: 400;
    margin: 35px 0;
}
#experience p{
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 22px;
}
.certificates{
    display: flex;
    justify-content: space-between;
}
.experienceimg{
    height: 360px;
    border-radius: 2%;
    margin: 20px 0 0 0;
    transition: all 0.25s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.experienceimg:hover{
    transform: scale(1.05);
}
/* *************************************************************************************************************** */
.sub-topic, .sub-topic{
    font-size: 40px;
    color: var(--lightshade);
    margin: 100px 0 30px;
}
.skill-list{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
}
.skill-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 20px;
    border: 1px solid var(--shade);
}
.skill-box p{
    margin: 5px;
}
.skill-box:hover{
    box-shadow: 0px 0px 20px -1px #4aa77c90 ;
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}

/* *************************************************************************************************************** */
#contact{
    padding: 5% 10% 0;
}
.contact-me{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.contact-bg{
    height:350px;
    margin-right: 50px;
}
.help{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.help p{
    width: 600px;
    /* font-size: 18px; */
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    font-weight: 400;
    margin: 35px 0;

    color: var(--light);
}
/* ****************************************************************** */
footer{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
footer h5{
    color: var(--shade);
}
/* ************************************************************************************************************************************ */

@media screen and (max-width: 1000px){
    .intro h1 {
        font-size: 45px;
    }
    .intro p {
        font-size: 18px;
    }
    .gif {
        height: 300px;
    }
    .project-window {
        grid-template-columns: auto auto;
    }
    .circle{
        width: 350px;
        height: 350px;
    }
    .about{
        flex-direction: column;
        align-items: center;
        text-align: justify;
        justify-content: center;
    }.about-content{
        width:fit-content;
    }
    .topic-about{
        text-align: center;
    }
    .aboutme{
        margin-bottom: 5%;
        position: initial;
        top:60px;
    }
    .contact-bg{
        height: 250px;
    }
    footer{
        font-size:8px;
    }
}

@media screen and (max-width: 590px) {
    .topic{
        text-align: center;
    }
    footer h5{
        font-size: 10px;
    }
    .help .email,.help h1 {
        font-size: 15px;
    }
    .submit{
        padding: 15px;
        font-size: 15px;
    }
    .para{
        font-size: 12px;
        line-height: 20px;
    }
    .shilpa-img{
        width: 100px;
    }
    .nav-button{
        padding: 0 35px ;
    }
    .button{
        padding:20px 5px;
    }
    .topic{
        text-align: center;
    }
    .home-window{
        flex-direction: column;
        height: 100%;
        padding:5% 7%;
    }
    .home-window .intro{
        width: 100%;
        text-align: justify;
    }
    .intro h1{
        font-size: 40px;
        margin-top: 10% ;
    }
    .intro p {
        font-size: 15px;
        line-height: 25px;
        padding-top: 5%;
    }
    .gif, .circle-sm, .circle, .tech-lang, .fa-arrow-right {
        display: none;
    }
    .computer{
        display: block;
        width:70%;
        margin-top: 0;
    }
    #about, #projects{
        padding:5% ;
    }
    .project-window{ 
        grid-template-columns: auto;
    }
    .skill-list{
        grid-template-columns: auto auto auto;
        gap:10px;
    }
    .contact-bg{
        display: none;
    }
} 

@media screen and (max-width: 360px) {
    .nav-button{
        padding-left: 40px ;
    }    
    .button{
        padding: 20px 10px;
    }
    .s-logo{
        width:25px;
    }
    .website p{
        margin: 0 30px;
    }
}
